/**********************/
/******** PAGE ********/
/**********************/

h1 {
    padding-top: 8%;
    text-align: center;
}

/**********************/
/***** ENTRY FORM *****/
/**********************/

#entryForm {
    margin: 2%;
}

#navigate {
    margin: 2%;
}